{% extends 'base.html'%}
{% import 'bootstrap/wtf.html' as wtf %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8" style="border:5px solid grey; margin-top:50px; padding:30px">{{wtf.quick_form(form)}}</div>
        <div class="col-md-2"></div>
    </div>

    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10" style="">
            <h1 style="text-decoration: underline; font-size:45px; text-align:center; margin-top:55px; margin-bottom:30px; ">Comments</h1>

            <div class="container">
                <div class="card-group" style="border:1px solid black">
                    {% for comment in comments %}
                    <div class="card-header" style="background-color:grey"></div>
                    <div class="card-body"><p class="card-text" style="font-size:20px;">{{ comment.comment }}</p></div>

                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="col-md-1"></div>
    </div>
</div>

{% endblock%}